<% content_for(:page_js) do %>
    <%= javascript_include_tag "/js/fullcalendar" %>
    <script type='text/javascript'>
        //    $.fullCalendar.dateFormatters.t = function(d){ return d.getHours() < 12 ? '오전' : '오후' }
        //    $.fullCalendar.dateFormatters.tt = function(d){ return d.getHours() < 12 ?  '오전' : '오후' }
        //    $.fullCalendar.dateFormatters.T = function(d){ return d.getHours() < 12 ? '오전' : '오후' }
        //    $.fullCalendar.dateFormatters.TT = function(d){ return d.getHours() < 12 ? '오전' : '오후' }
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: '오늘',
                    month: '한달',
                    week: '한주',
                    day: '하루'
                },
                titleFormat: {
                    month: 'yyyy년 M월',
                    week: 'M월 d일{ \'~\'[ yyyy년][ M월] d일}',
                    day: 'yyyy년 M/d ddd'
                },
                columnFormat: {
                    week: 'M/d ddd',
                    day: 'M/d dddd'
                },
                monthNames: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
                dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
                timeFormat: 'H:mm',
                allDayText: '하루 종일',
                axisFormat: 'h(:mm) TT'
                // events: get_events,
                // eventClick: go_to_event_day,
                // eventAfterRender: show_day_event,
            });
        });
    </script>
<% end %>
<div class="page-header">
  <form class="form-inline" role="form">
    <div class="form-group">
    <h1>일정 달력</h1>
    </div>
    <button type="button" class="btn btn-default btn-lg new-btn">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </form>
</div>

<div id="calendar"></div>
