// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "twitter/bootstrap";

.copyright {
  font-weight: 700;
  text-shadow: 1px 1px #fff;
  margin: 20px 0;
}
.new-btn{
  float: right;
  margin-top: 15px;
}