<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
</div>

<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <p class="copyright">&copy; 2013 <a href="https://www.facebook.com/hyunsuk80">Ventus</a> </p>
  </div>
</footer>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= yield(:page_js) %>
</body>
</html>
